@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h2>Chào mừng đến trang Quản Trị</h2>
    <p class="lead">Sử dụng menu bên trái để bắt đầu quản lý nội dung website.</p>
    <p>
        <a href="@Url.Action("Index", "QuanLySanPham")" class="btn btn-primary btn-lg">
            Quản lý Sản phẩm &raquo;
        </a>
    </p>
</div>